.todo-item {
  display: flex;
  align-items: center;
  padding: 5px;
  &:hover {
    background-color: rgba(119, 119, 119, 0.116);
  }
  p {
    margin: 0;
    font-size: 20px;
    flex-grow: 1;
  }
  .delete-btn {
    align-self: flex-end;
  }
}

.completedTask {
  background-color: rgba(13, 146, 13, 0.11);
  color: rgba(13, 146, 13, 0.61);
}

.priority-1 {
  color: rgb(150, 7, 7);
}
.priority-2 {
  color: rgb(185, 185, 0);
}
.priority-3 {
  color: rgb(0, 0, 116);
}